.p-blog-article {
  border-bottom: 1px solid #e7e7e7;
  padding: 0 0 60px 0;
  margin-bottom: 48px;
}

.container img {
  width: auto !important;
  max-height: 500px;
  max-width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;

  border: 0 none;
  vertical-align: top;
  width: 100%;
  height: auto;
}
